<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{stylesheets/bootstrap.css}">
<title>HomePage</title>
</head>
<body class="bg-light">	
	<ul class="nav nav-tabs bg-danger justify-content-end mr-2">	
		<li class="nav-item">
			<a class="nav-link text-white" th:href="@{NeregistrovaniKorisnici/login}">Prijava</a>
		</li>
	</ul>
	<div class="text-center mt-5" >
		<a th:href="@{NeregistrovaniKorisnici/theatresPage}">
			<figure class="figure">
			<img height="250" width="280" hspace="30" src="/images/theatre.jpg" class="figure-img img-responsive " /> 
			<figcaption class="figure-caption text-center">Pozorista</figcaption>
			</figure>	
		</a>
		
		<a th:href="@{AdminPozoristaBioskopi/homePage}">Admin.ba</a>
		<a th:href="@{Posetioci/fanZonaPage}">FanZona</a>
		<a th:href="@{AdminFanZone/adminFanZona}">AdminFanZone</a>
		
		<a th:href="@{NeregistrovaniKorisnici/cinemasPage}">
			<figure class="figure">
			<img height="250" width="280" hspace="30" src="/images/cinema.jpg" class="figure-img img-responsive " /> 
			<figcaption class="figure-caption text-center">Bioskopi</figcaption>
			</figure>	
		</a>
	</div>
</body>
</html>