<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
<link rel="stylesheet" th:href="@{stylesheets/bootstrap.css}">
<script th:src="@{/scripts/jquery.geocomplete.js}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-YyCq09kOBAfdxzfvceBtUov8tfj5Mh4&callback=myMap"></script>
<title>HomePage</title>
</head>
<body class="bg-light">	
	<ul class="nav nav-tabs bg-danger justify-content-end mr-2">	
		<li class="nav-item">
			<a class="nav-link text-white" th:href="@{NeregistrovaniKorisnici/login}">Prijava</a>
		</li>
	</ul>
	<div class="text-center mt-5" >
		<a th:href="@{NeregistrovaniKorisnici/theatresPage}">
			<figure class="figure">
			<img height="250" width="280" hspace="30" src="/images/theatre.jpg" class="figure-img img-responsive " /> 
			<figcaption class="figure-caption text-center">Pozorista</figcaption>
			</figure>	
		</a>
		
		<a th:href="@{AdminPozoristaBioskopi/homePage}">Admin.ba</a>
		<a th:href="@{Posetioci/fanZonaPage}">FanZona</a>
		<a th:href="@{AdminFanZone/adminFanZona}">AdminFanZone</a>
		<a th:href="@{AdminSistema/createNewCinema}">Novi bioskop</a>
		
		<a th:href="@{NeregistrovaniKorisnici/cinemasPage}">
			<figure class="figure">
			<img height="250" width="280" hspace="30" src="/images/cinema.jpg" class="figure-img img-responsive " /> 
			<figcaption class="figure-caption text-center">Bioskopi</figcaption>
			</figure>	
		</a>
	</div>
	<h1>My First Google Map</h1>

		<div id="map" style="width:400px;height:400px;background:yellow"></div>
		
		<form id="property">
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="address" placeholder="Address">
        </div>
        <div class="form-group">
          <input type="text" name="lat"  placeholder="Latitude" readonly>
        </div>
        <div class="form-group">
          <input type="text" name="lng" class="form-control" placeholder="Longitude" readonly>
        </div>
      </form>

		<script>
		function myMap() {
			var myLatLng = {lat: 45.2671, lng: 19.8335};

	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 10,
	          center: myLatLng
	        });

	        var marker = new google.maps.Marker({
	          position: myLatLng,
	          map: map,
	          title: 'Hello World!'
	        });

		
		 var map = new google.maps.Map(document.getElementById("map"), mapOptions);
		} 
		$(document).ready(function(){
			  // Call Geo Complete
			  $("#address").geocomplete({details:"form#property"});
			});
		</script>
</body>
</html>