<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Kreiranje novog oglasa</title>			
	</head>

	<body>
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
					
				<li class="nav-item">
					<a class="nav-link active text-danger" href="fanZonaPage">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<nav class="navbar navbar-expand-md bg-dark">
			    <div class="mx-auto order-0 w-50">
			        <div class="nav nav-pills bg-dark flex-row justify-content-center">
						<ul class="nav nav-tabs bg-danger flex-row">			
							<li class="nav-item">
								<a class="nav-link text-white" href="fanZonaPage">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="polovniOglasi">Oglasi</a>
							</li>
						</ul>
					</div>
			    </div>
		</nav>
	
		<div class="container col-md-4 mt-5">
			<form>
			  <div class="form-group row">
				    <label for="newPassword" class="col-form-label">Nova lozinka:</label>
				    <div class="col-sm-10">
				     <input type="password" class="ml-2" id="newPassword" placeholder="Nova lozinka">
				    </div>
			  </div>
			  <div class="form-group row">
			    <label for="repeatPassword" class=" col-form-label">Ponovite lozinku:</label>
			    <div class="col-sm-10">
			      <input type="password" class="ml-2" id="repeatPassword" placeholder="Ponovite lozinku">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <div class="col-sm-10">
	    			<input type="submit" value="Promeni lozinku" class="btn btn-danger" />
			    </div>
			  </div>
			</form>
		</div>
		<script th:inline="javascript">
		var file;
		var reader;
		function previewFile() {
			  var preview = document.querySelector('img');
			  file    = document.querySelector('input[type=file]').files[0];
			  reader  = new FileReader();

			  reader.addEventListener("load", function () {
			    preview.src = reader.result;
			  }, false);

			  if (file) {
			    reader.readAsDataURL(file);
			  }
			}
			$("input[type='submit']").click(function(event) {
				event.preventDefault();
				function validate(){
					if ($('#inputName').val() == "" || $('#inputDescription').val() == "" || $('#inputDate').val() == "") {
				        alert("Pri kreiranju oglasa, obavezna polja su naziv, opis i datum.");
				        $('#inputName').focus();
				        return false;
				    }
					
					return true;
				}  
				if(!validate()){
					return;
				}
				if(reader!=null){
					var splitImage = reader.result.split('base64,');
					/*<![CDATA[*/
					var formData = JSON.stringify({
						name:$("#inputName").val(),
						creatorId:/*[[${session.loggedUser.getId()}]]*/ 'id',
						description:$("#inputDescription").val(),
						image:splitImage[1],
						date:$("#inputDate").val(),
					});
					/*]]>*/
						$.ajax({
							url: "http://localhost:8080/userAd",
							type: 'POST',
							data: formData,
							contentType: "application/json",
							success: function(){
								console.log("Ajax zahtev za registraciju.");
								alert("Vas oglas je poslat, molimo sacekajte da administrator odobri vas oglas.");
								window.location.href = "http://localhost:8080/Posetioci/polovniOglasi.html";
							}
						});
				}else{
					/*<![CDATA[*/
					var formData = JSON.stringify({
						name:$("#inputName").val(),
						creatorId:/*[[${session.loggedUser.getId()}]]*/ 'id',
						description:$("#inputDescription").val(),
						date:$("#inputDate").val(),
					});
					/*]]>*/
						$.ajax({
							url: "http://localhost:8080/userAd",
							type: 'POST',
							data: formData,
							contentType: "application/json",
							success: function(){
								console.log("Ajax zahtev za registraciju.");
								alert("Vas oglas je poslat, molimo sacekajte da administrator odobri vas oglas.");
								window.location.href = "http://localhost:8080/Posetioci/polovniOglasi.html";
							}
						});
				}
			});
		</script>
	</body>
</html>