<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Fan Zona</title>
		<script th:inline="javascript">
			var podaci;
			$(document).ready(function(){
				var id = getUrlParameter('id');
				$.ajax({
					url : "http://localhost:8080/userAd/getUserAd/"+id
				}).then(
						function(data) {
							podaci = data;
							$.ajax({
								url : "http://localhost:8080/userAd/getBids/"+id
							}).then(
									function(data) {
										for(i=0;i<data.length;i++){
											newRow = 
												"<tr>"
													+ "<td>" + data[i].price + "</td>"
													+ "<td><button   class=\"btn btn-danger chooseBid\" href='/userAd/chooseBid/" +podaci.id+ "/" + data[i].userId + "'  >Odaberi</button></td>"
												+ "</tr>"
											$("#tableBody").append(newRow)
										}
									});
						});
			});
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};
			$(document).on("click", ".chooseBid", function(event){
				event.preventDefault();
				/*<![CDATA[*/
				var currentUserId = /*[[${session.loggedUser.getId()}]]*/ 'id'
				
				var confirmed = confirm("Da li ste sigurni da zelite da odaberete ovu ponudu za ovaj oglas?");
				if(confirmed){
					var url = $(this).attr("href")
				}
				$.ajax({
		        	url: url,
		        	type: "DELETE",
		        	success: function(){
		        		window.location.href = "http://localhost:8080/Posetioci/polovniOglasi";
			        }
				});
				
				/*]]>*/
			});
		</script>			
	</head>
	<body>			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="ticketReservations.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link active text-danger" href="fanZonaPage">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		
		<nav class="navbar bg-dark row justify-content-center">
				<div class="nav nav-pills bg-dark">
						<ul class="nav nav-tabs bg-danger">			
							<li class="nav-item">
								<a class="nav-link text-white" href="fanZonaPage">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link active text-danger" href="polovniOglasi">Oglasi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="myReservations">Moje rezervacije</a>
							</li>
						</ul>
					</div>
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" th:src="@{/images/FanZone.jpg}" class="figure-img img-responsive " /> 
							
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Cena u evrima</th>
								<th>Odaberi</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
						
					</div>
					<div class="col">
						
					</div>
			</div>	
	</body>
</html>