<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Popusti</title>		
		<script th:inline="javascript">
			$(document).ready(function(){
				/*<![CDATA[*/
				id = getUrlParameter('id');	
				var userId = /*[[${session.loggedUser.getId()}]]*/ 'id'	
					/*]]>*/
				$("#home").attr("href", "cinemaDetails.html?id="+id);
				$("#repertoar").attr("href", "cinemaRepertoar.html?id="+id);
				$.ajax({
					url: 'http://localhost:8080/tickets/getTickets/'+id+'/'+userId,	
					async:false,
					success: function(data) {
						for (i = 0; i < data.length; i++) {
							console.log("uso sam i ovde");
							popust=data[i].price-50;
							if(data[i].poster===("Bez slike")){
								poster='imagesMovies\\nemaslike.png';
							}
							else{
								poster=data[i].poster;
							}
							newRow= '   	<li class="ticket">  '  + 
							 '   							<div class="card text-center" style="width: 22rem;">  '  + 
							 '   								<img class="card-img-top" style="height: 12rem;" src="../'+poster+'"">  '  + 
							 '   								<div class="card-body">  '  + 
							 '   									<h5 class="card-title">'+data[i].projectionName+'</h5>  '  + 
							 '   									<ul class="list-unstyled">  '  + 
							 '   										<li><p class="card-text">Datum : '+data[i].date+'</p></li>  '  + 
							 '   										<li><p class="card-text">Termin : '+data[i].term+'</p></li>  '  + 
							 '   										<li><p class="card-text">Sala : '+data[i].auditoriumName+'</p></li>  '  + 
							 '   										<li><p class="card-text">Mesto : '+data[i].seat+'</p></li>  '  + 
							 '   										<li><p class="card-text">Originalna cena : '+data[i].price+'din  -   Popust  :  '+popust+'</p></li>  '  + 
							 '   									</ul>  '  + 
							 '   									<a href="#" data-id="'+data[i].id+'" class="btn btn-primary reserve">Rezervisi</a>  '  + 
							 '   								</div>  '  + 
							 '   							</div>  '  + 
							 '  						</li>  ' +
							 '  				<div class="col-md-12"><br/></div>  ' ; 
							 $("#tickets").append(newRow);							 
						}
					}
				});
			});
			
			$(document).on("click", ".reserve", function(event){
				event.preventDefault(); 
				var confirmed = confirm("Da li ste sigurni da zelite da rezervisete ovu kartu?");
				if(confirmed){
					/*<![CDATA[*/
					var id = $(this).attr("data-id");
					var userId = /*[[${session.loggedUser.getId()}]]*/ 'id'					
						li_parent = $(this).closest("li.ticket")
					nextDiv = li_parent.next();
					$.ajax({
			        	url: 'http://localhost:8080/tickets/reserveTicket/'+id+'/'+userId,
			        	type: 'GET',
			        	success: function(){
			        		alert("Uspesno ste rezervisali kartu");
			        		li_parent.remove()
							nextDiv.remove();
				        }
					});
					/*]]>*/
				}
			});
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};
						
			
		</script>			
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">	
				<li class="nav-item">
					<a class="nav-link text-white" href="homePage.html">Home</a>
				</li>				
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger" href="cinemasPage.html">Bioskopi</a>
				</li>			
			</ul>
			<a class="nav-link mr-0 text-white" href="../NeregistrovaniKorisnici/login.html">Odjava</a>
		</div>
		<nav class="navbar bg-dark justify-content-center">
		    <div>
		        <div class="nav nav-pills bg-dark flex-row">
					<ul class="nav nav-tabs bg-danger flex-row ">	
						<li class="nav-item">
							<a class="nav-link text-white" id="home" href="#">Home</a>				
						</li>		
						<li class="nav-item">
							<a class="nav-link text-white" id="repertoar" href="#">Repertoar</a>				
						</li>
						<li class="nav-item">
							<a class="nav-link active text-danger">Popusti</a>
						</li>
					</ul>
				</div>
		    </div>
		</nav>
			<div>
				 <div class="row">
				 	<div class="col-3 ml-5 mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" th:src="@{/images/cinema.jpg}" class="figure-img img-responsive " /> 
						</figure>
					</div>
				<div class="col-6 mx-auto">
					<ul class="list-unstyled" id="tickets">
					</ul>
				</div>
				<div class="col-3">
						
				</div>
			</div>
	</body>
</html>