<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Dodaj prijatelja</title>			
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>				
			</ul>
			<button type="button" class="btn btn-danger active" disabled>Dodaj prijatelje</button>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<br/>
		<div class="row">
		<div class="col-md-3 col-md-offset-2 mx-auto">
			<form id="searchFriendForm">
				<div class="form-group">
					<label for="firstName">Ime</label> 
					<input id="firstName" placeholder="Unesite ime"> 
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="firstNameCheck">
					<label class="form-check-label" for="firstNameCheck">Ukljuci</label>
				</div>
				<div class="form-group">
					<label for="lastName">Prezime</label> 
					<input id="lastName" placeholder="Unesite prezime">
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="lastNameCheck">
					<label class="form-check-label" for="lastNameCheck">Ukljuci</label>
				</div>
				<button type="submit" class="btn btn-danger">Trazi</button>
			</form>
		</div>

					<div class="col-md-6 col-md-offset-1 mx-auto text-center">
						<table class="table" id="table">
						<thead class="thead-dark">
							<tr>
								<th>Ime</th>
								<th>Prezime</th>
								<th>Dodaj prijatelja</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
	</div>

			
		<script th:inline="javascript">
		
		$("button[type='submit']").click(function(event) {
			event.preventDefault();
			if(($("#lastNameCheck").is(":checked")) && $("#firstNameCheck").is(":checked")) {
				if(($("#lastName").val() === "") && ($("#firstName").val() === "")) {
					alert("Vrednost polja ne sme biti prazno ako je markirano za pretragu.");
				} else {
					var searchFirstName = $("#firstName").val();
					var searchLastName = $("#lastName").val();
					$.ajax({
						url: "/getUsers",
						type: 'GET',
						success: function(data){
							$('#searchFriendForm')[0].reset();
							$("#tableBody").empty();
							/*<![CDATA[*/
							var loggedFirstName = /*[[${session.loggedUser.getFirstName()}]]*/ '';
							var loggedLastName = /*[[${session.loggedUser.getLastName()}]]*/ '';
							var loggedInId = /*[[${session.loggedUser.getId()}]]*/ '';
							/*]]>*/
							for(i = 0; i < data.length; i++) {
								if((data[i].firstName.toString().indexOf(searchFirstName) !== -1) && (data[i].lastName.toString().indexOf(searchLastName) !== -1)) {
									if((loggedFirstName !== data[i].firstName) && (loggedLastName !== data[i].lastName)) {
										if(data[i].enabled) {
											var firstNameFound = data[i].firstName;
											var lastNameFound = data[i].lastName;
											var idFound = data[i].id;
											$.ajax({
												url: "/getFriendRequests",
												type: "GET",
												success: function(frReqestsData) {
													var nePostoji = true;
													for(j = 0; j < frReqestsData.length; j++) {
														if((frReqestsData[j].userId === loggedInId) || (frReqestsData[j].friendId === loggedInId)) {
															if((frReqestsData[j].userId === idFound) || (frReqestsData[j].friendId === idFound)) {
																nePostoji = false;
																break;
															}
														}
													}
													if(nePostoji) {
														newRow = 
															"<tr>"
																+ "<td>" + firstNameFound + "</td>"
																+ "<td>" + lastNameFound + "</td>"
																+ "<td><button type=\"button\" id=\"frReq\" data-id=\"" + idFound + "\" class=\"btn btn-dark dodajPrijatelja\">+</button></td>"
															+ "</tr>"
															$("#tableBody").append(newRow) 
													}
												}
											});
										}
									}

								}
							}						
							
						}
					});
				}
			} else if($("#firstNameCheck").is(":checked")) {
				if($("#firstName").val() === "") {
					alert("Vrednost polja IME ne sme biti prazno ako je markirano za pretragu.");
				} else {
					var searchFirstName = $("#firstName").val();
					$.ajax({
						url: "/getUsers",
						type: 'GET',
						success: function(data){
							$('#searchFriendForm')[0].reset();
							$("#tableBody").empty();
							/*<![CDATA[*/
							var loggedFirstName = /*[[${session.loggedUser.getFirstName()}]]*/ '';
							var loggedInId = /*[[${session.loggedUser.getId()}]]*/ '';
							/*]]>*/
							for(i = 0; i < data.length; i++) {
								if(data[i].firstName.toString().indexOf(searchFirstName) !== -1) {
									if(loggedFirstName !== data[i].firstName) {
										if(data[i].enabled) {
											var firstNameFound = data[i].firstName;
											var lastNameFound = data[i].lastName;
											var idFound = data[i].id;
											 $.ajax({
												url: "/getFriendRequests",
												type: "GET",
												success: function(frReqestsData) {
													var nePostoji = true;
													for(j = 0; j < frReqestsData.length; j++) {
														if((frReqestsData[j].userId === loggedInId) || (frReqestsData[j].friendId === loggedInId)) {
															if((frReqestsData[j].userId === idFound) || (frReqestsData[j].friendId === idFound)) {
																nePostoji = false;
																break;
															}
														}
													}
													if(nePostoji) {
														newRow = 
															"<tr>"
																+ "<td>" + firstNameFound + "</td>"
																+ "<td>" + lastNameFound + "</td>"
																+ "<td><button type=\"button\" id=\"frReq\" data-id=\"" + idFound + "\" class=\"btn btn-dark dodajPrijatelja\">+</button></td>"
															+ "</tr>"
															$("#tableBody").append(newRow) 
													}
												}
											});   
										}
										
										
									}
								}
							}						
							
						}
					});
				}
				
			} else if($("#lastNameCheck").is(":checked")) {
				if($("#lastName").val() === "") {
					alert("Vrednost polja PREZIME ne sme biti prazno ako je markirano za pretragu.");
				} else {
					var searchLastName = $("#lastName").val();
					$.ajax({
						url: "/getUsers",
						type: 'GET',
						success: function(data){
							$('#searchFriendForm')[0].reset();
							$("#tableBody").empty();
							/*<![CDATA[*/
							var loggedLastName = /*[[${session.loggedUser.getLastName()}]]*/ '';
							var loggedInId = /*[[${session.loggedUser.getId()}]]*/ '';
							/*]]>*/
							for(i = 0; i < data.length; i++) {
								if(data[i].lastName.toString().indexOf(searchLastName) !== -1) {
									if(loggedLastName !== data[i].lastName) {
										if(data[i].enabled) {
											var firstNameFound = data[i].firstName;
											var lastNameFound = data[i].lastName;
											var idFound = data[i].id;
											$.ajax({
												url: "/getFriendRequests",
												type: "GET",
												success: function(frReqestsData) {
													var nePostoji = true;
													for(j = 0; j < frReqestsData.length; j++) {
														if((frReqestsData[j].userId === loggedInId) || (frReqestsData[j].friendId === loggedInId)) {
															if((frReqestsData[j].userId === idFound) || (frReqestsData[j].friendId === idFound)) {
																nePostoji = false;
																break;
															}
														}
													}
													if(nePostoji) {
														newRow = 
															"<tr>"
																+ "<td>" + firstNameFound + "</td>"
																+ "<td>" + lastNameFound + "</td>"
																+ "<td><button type=\"button\" id=\"frReq\" data-id=\"" + idFound + "\" class=\"btn btn-dark dodajPrijatelja\">+</button></td>"
															+ "</tr>"
															$("#tableBody").append(newRow) 
													}
												}
											});
										}
										
									}
									
								}
							}						
							
						}
					});
				}
			}
		});
		
		$(document).on("click", ".dodajPrijatelja", function(event) {
			event.preventDefault();
			var friendid = $(this).attr("data-id");
			/*<![CDATA[*/
			var userid = /*[[${session.loggedUser.getId()}]]*/ '';
			/*]]>*/
			console.log("Prijatelj id: " + friendid + "; Sender id: " + userid);
			var frReqData = JSON.stringify({
				userId:userid,
				friendId:friendid,
			});
			
			$.ajax({
				url: "/userAddFriend",
				type: "POST",
				data: frReqData,
				contentType: "application/json",
				success: function(data) {
					console.log("Zahtev za prijateljstvo poslat.");
				}
				
			});
		});
		
		</script>

			
	</body>
</html>