<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Home</title>			
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>				
			</ul>
			<button type="button" class="btn btn-danger active" disabled>Dodaj prijatelje</button>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<br/>
		<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<form id="searchFriendForm">
				<div class="form-group">
					<label for="firstName">Ime</label> 
					<input id="firstName" placeholder="Unesite ime"> 
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="firstNameCheck">
					<label class="form-check-label" for="firstNameCheck">Ukljuci</label>
				</div>
				<div class="form-group">
					<label for="lastName">Prezime</label> 
					<input id="lastName" placeholder="Unesite prezime">
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="lastNameCheck">
					<label class="form-check-label" for="lastNameCheck">Ukljuci</label>
				</div>
				<button type="submit" class="btn btn-danger">Trazi</button>
			</form>
		</div>

					<div class="col-md-5 col-md-offset-2 mx-auto text-center">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Ime</th>
								<th>Prezime</th>
								<th>Dodaj prijatelja</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
	</div>

			
		<script>
		$("button[type='submit']").click(function(event) {
			event.preventDefault();
			if(($("#lastNameCheck").is(":checked")) && $("#firstNameCheck").is(":checked")) {
				if(($("#lastName").val() == "") && ($("#firstName").val() == "")) {
					alert("Vrednost polja ne sme biti prazno ako je markirano za pretragu.");
				} else {
					var searchFirstName = $("#firstName").val();
					var searchLastName = $("#lastName").val();
					$.ajax({
						url: "/getUsers",
						type: 'GET',
						success: function(data){
							$('#searchFriendForm')[0].reset();
							$("#tableBody").empty();
							for(i = 0; i < data.length; i++) {
								if((data[i].firstName.toString().indexOf(searchFirstName) != -1) && (data[i].firstName.toString().indexOf(searchLastName) != -1)) {
									newRow = 
										"<tr>"
											+ "<td>" + data[i].firstName + "</td>"
											+ "<td>" + data[i].lastName + "</td>"
											+ "<td><button type=\"button\" class=\"btn btn-dark\">+</button></td>"
										+ "</tr>"
										$("#tableBody").append(newRow)
								}
							}						
							
						}
					});
				}
			} else if($("#firstNameCheck").is(":checked")) {
				if($("#firstName").val() == "") {
					alert("Vrednost polja IME ne sme biti prazno ako je markirano za pretragu.");
				} else {
					var searchFirstName = $("#firstName").val();
					$.ajax({
						url: "/getUsers",
						type: 'GET',
						success: function(data){
							$('#searchFriendForm')[0].reset();
							$("#tableBody").empty();
							for(i = 0; i < data.length; i++) {
								if(data[i].firstName.toString().indexOf(searchFirstName) != -1) {
									newRow = 
										"<tr>"
											+ "<td>" + data[i].firstName + "</td>"
											+ "<td>" + data[i].lastName + "</td>"
											+ "<td><button type=\"button\" class=\"btn btn-dark\">+</button></td>"
										+ "</tr>"
										$("#tableBody").append(newRow)
								}
							}						
							
						}
					});
				}
				
			} else if($("#lastNameCheck").is(":checked")) {
				if($("#lastName").val() == "") {
					alert("Vrednost polja PREZIME ne sme biti prazno ako je markirano za pretragu.");
				} else {
					var searchLastName = $("#lastName").val();
					$.ajax({
						url: "/getUsers",
						type: 'GET',
						success: function(data){
							$('#searchFriendForm')[0].reset();
							$("#tableBody").empty();
							for(i = 0; i < data.length; i++) {
								if(data[i].lastName.toString().indexOf(searchLastName) != -1) {
									newRow = 
										"<tr>"
											+ "<td>" + data[i].firstName + "</td>"
											+ "<td>" + data[i].lastName + "</td>"
											+ "<td><button type=\"button\" class=\"btn btn-dark\">+</button></td>"
										+ "</tr>"
										$("#tableBody").append(newRow)
								}
							}						
							
						}
					});
				}
			}
			
		});
		
		</script>
		<!-- 
		Napravis klasu za to dodavanje da pamti ko je tu koga dodao i onda disablujes to dugme, spajas user tablu i tu klasu sto cuva to
		gledaj ponude u bazi podataka -->
		


			
	</body>
</html>