<!DOCTYPE html>
<html>
	<head>
		<script src="scripts/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<meta charset="UTF-8">
		<title>Fan Zona</title>
		<script>
			$(document).ready(function(){
				$.ajax({
					url : "http://localhost:8080/officialAd/getOfficialAds"
				}).then(
						function(data) {
							for (i = 0; i < data.length; i++) {
								
								newRow = 
									"<tr>"
										+ "<td>slika</td>"
										+ "<td>" + data[i].name + "</td>"
										+ "<td>" + data[i].price + "</td>"
										+ "<td>" + data[i].description + "</td>"
										+ "<td><input type=\"submit\" value=\"Rezervisi\"  class=\"btn btn-danger\" /></form></td>"
									+ "</tr>"
								$("#tableBody").append(newRow)
							}
						});
			});
		</script>			
	</head>
	<body>			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link active text-danger" href="fanZonaPage.html">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="login.html">Odjava</a>
		</div>
		<nav class="navbar navbar-expand-md bg-dark">
			    <div class="mx-auto order-0 w-50">
			        <div class="nav nav-pills bg-dark flex-row justify-content-end">
						<ul class="nav nav-tabs bg-danger flex-row">			
							<li class="nav-item">
								<a class="nav-link active bg-light text-danger" href="">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="polovniOglasi.html">Oglasi</a>
							</li>
						</ul>
					</div>
			    </div>
			    <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
			        <ul class="navbar-nav ml-auto flex-row">
			            <li class="nav-item">
							<nav class="navbar navbar-light bg-dark">
	  							<form class="form-inline">
					    			<input class="form-control mr-sm-2" type="search" placeholder="Trazi" aria-label="Search">
					    			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trazi</button>
	  							</form>
							</nav>
			            </li>
			        </ul>
			    </div>
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" src="FanZone.jpg" class="figure-img img-responsive " /> 
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Slika</th>
								<th>Naziv</th>
								<th>Cena</th>
								<th>Opis</th>
								<th>Rezervacija</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
					<div class="col">
						
					</div>
			</div>
	</body>
</html>