<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Home</title>			
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>				
			</ul>
			<a th:href="dodajPrijatelje.html" class="btn btn-danger" role="button" aria-pressed="true">Dodaj prijatelje</a>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		
		<div class="col-md-6 col-md-offset-2 mx-auto text-center">
						<table class="table" id="table">
						<thead class="thead-dark">
							<tr>
								<th>Ime</th>
								<th>Prezime</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
							<tr>
								<td>da</td>
								<td>da</td>
								<td><button type="button" class="btn btn-success">+</button></td>
								<td><button type="button" class="btn btn-dark">-</button></td>
							</tr>
						</table>
					</div>
					
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				$.ajax({
					url: "/getFriendRequests",
					type: "GET",
				}).then(
						function(data) {
							if (data === undefined) {
								console.log("Data empty.");
							} else {
								var currentUser = /*[[${session.loggedUser.getId()}]]*/ '';
								console.log("Userid: " + currentUser);
								for(i = 0; i < data.length; i++) {
									if(currentUser === data[i].friendId) {
										var frReqSender = data[i].userId;
										$.ajax({
											url: "/getUsers",
											type: "GET",
											success: function(allUsers) {
												for(i = 0; i < allUsers.length; i++) {
													if(allUsers[i].id === frReqSender) {
														newRow = 
															"<tr>"
																+ "<td>" + allUsers[i].firstName + "</td>"
																+ "<td>" + allUsers[i].lastName + "</td>"
																+ "<td><button type=\"button\" class=\"btn btn-success\">+</button></td>"
																+ "<td><button type=\"button\" class=\"btn btn-dark\">-</button></td>"
															+ "</tr>"
															$("#tableBody").append(newRow)
													}
												}
											}
										});
										
									}								
								}
							}
							
						});
				
			});
		/*]]>*/
		</script>
			
	</body>
</html>