<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Home</title>			
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>				
			</ul>
			<a th:href="dodajPrijatelje.html" class="btn btn-danger" role="button" aria-pressed="true">Dodaj prijatelje</a>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		
		<div class="col-md-6 col-md-offset-2 mx-auto text-center">
						<table class="table" id="table">
						<thead class="thead-dark">
							<tr>
								<th>Ime</th>
								<th>Prezime</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
					
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				$.ajax({
					url: "/getFriendRequests",
					type: "GET",
				}).then(
						function(data) {
							if (data === undefined) {
								console.log("Data empty.");
							} else {
								var currentUser = /*[[${session.loggedUser.getId()}]]*/ '';
								console.log("Userid: " + currentUser);
								for(i = 0; i < data.length; i++) {
									if(currentUser === data[i].friendId) {
										var frReqSender = data[i].userId;
										var frReqId = data[i].id;
										var frReqAccept = data[i].accepted;
										var frReqDeny = data[i].denied;
										$.ajax({
											url: "/getUsers",
											type: "GET",
											success: function(allUsers) {
												for(j = 0; j < allUsers.length; j++) {
													if(allUsers[j].id === frReqSender) {
														if((frReqAccept === false) && (frReqDeny === false)) {
															newRow = 
																"<tr>"
																	+ "<td>" + allUsers[j].firstName + "</td>"
																	+ "<td>" + allUsers[j].lastName + "</td>"
																	+ "<td><button type=\"button\" frReq-id=\"" + frReqId + "\" data-id=\"" + allUsers[j].id + "\" class=\"btn btn-success dodajPrijatelja\">+</button></td>"
																	+ "<td><button type=\"button\" frReq-id=\"" + frReqId + "\" data-id=\"" + allUsers[j].id + "\" class=\"btn btn-dark odbijPrijatelja\">-</button></td>"
																+ "</tr>"
																$("#tableBody").append(newRow)
														}
														
													}
												}
											}
										});
										
									}								
								}
							}
							
						});
				
			});
		
		$(document).on("click", ".dodajPrijatelja", function(event) {
			var frReqId = $(this).attr("frReq-id");
			var userid = $(this).attr("data-id");
			var friendid = /*[[${session.loggedUser.getId()}]]*/ '';
			var frReqData = JSON.stringify({
				id:frReqId,
				userId:userid,
				friendId:friendid,
			});
			tr_parent = $(this).closest("tr");
			
			$.ajax({
				url: "/userAddFriendAccept",
				type: "POST",
				data: frReqData,
				contentType: "application/json",
				success: function(data) {
					console.log("Zahtev za prijateljstvo prihvacen.");
					tr_parent.remove();
				}
				
			});
		});
		
		$(document).on("click", ".odbijPrijatelja", function(event) {
			var frReqId = $(this).attr("frReq-id");
			var userid = $(this).attr("data-id");
			var friendid = /*[[${session.loggedUser.getId()}]]*/ '';
			var frReqData = JSON.stringify({
				id:frReqId,
				userId:userid,
				friendId:friendid,
			});
			tr_parent = $(this).closest("tr");
			
			$.ajax({
				url: "/userDenyFriendReq",
				type: "POST",
				data: frReqData,
				contentType: "application/json",
				success: function(data) {
					console.log("Zahtev za prijateljstvo odbijen.");
				}
				
			});
		});
		/*]]>*/
		</script>
			
	</body>
</html>