<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/scripts/jquery.tablesorter.js}"></script>	
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Home</title>			
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>					
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
			
		</div>
		
		<br/>
		<div class="row">
			<div class="col-md-2 col-md-offset-3 mx-auto text-center">
			  	<strong><p th:text="${session.loggedUser.getFirstName()}" th:unless="${session == null}"></p></strong>
			  	<strong><p th:text="${session.loggedUser.getLastName()}" th:unless="${session == null}"></p></strong>
				<strong><p th:text="${session.loggedUser.getEmail()}" th:unless="${session == null}"></p></strong>
				<strong><p th:text="${session.loggedUser.getPhone()}" th:unless="${session == null}"></p></strong>
				<strong><p th:text="${session.loggedUser.getCity()}" th:unless="${session == null}"></p></strong>
			</div>
		

			<div class="col-md-6 col-md-offset-1 mx-auto text-center">
				<table class="table" id="table">
				<thead class="thead-dark">
					<tr>
						<th>Ime</th>
						<th>Prezime</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tableBody">
				</tbody>
				</table>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				$(".table").tablesorter(); 
				$.ajax({
					url: "/getFriendRequests",
					type: "GET",
				}).then(function(data) {
							if (data === undefined) {
								console.log("Data empty.");
							} else {
								var loggedUser = /*[[${session.loggedUser.getId()}]]*/ '';
								for(i = 0; i < data.length; i++) {
									if(loggedUser === data[i].userId) { // (loggedUser === data[i].friendId)) 
										if(data[i].accepted) {
											var id = data[i].friendId;
											var frReqId = data[i].id;
											$.ajax({
												url: "/users/" + id,
												type: "GET",
												success: function(user) {
													newRow = 
														"<tr>"
															+ "<td>" + user.firstName + "</td>"
															+ "<td>" + user.lastName + "</td>"
															+ "<td><button type=\"button\" frReq-id=\"" + frReqId + "\" class=\"btn btn-danger ukloniPrijatelja\">Obrisi</button></td>"
															
														+ "</tr>"
														$("#tableBody").append(newRow)
														$(".table").trigger("update");
												}
											});
										}
									} else if(loggedUser === data[i].friendId) {
										if(data[i].accepted) {
											var id = data[i].userId;
											var frReqId = data[i].id;
											$.ajax({
												url: "/users/" + id,
												type: "GET",
												success: function(user) {
													newRow = 
														"<tr>"
															+ "<td>" + user.firstName + "</td>"
															+ "<td>" + user.lastName + "</td>"
															+ "<td><button type=\"button\" frReq-id=\"" + frReqId + "\" class=\"btn btn-danger ukloniPrijatelja\">Obrisi</button></td>"
															
														+ "</tr>"
														$("#tableBody").append(newRow)
														$(".table").trigger("update");
												}
											});
											
										}
									}
								}
							}
							
						}
					);
					
			});
			$(document).on("click", ".ukloniPrijatelja", function(event) {
				var frReqId = $(this).attr("frReq-id");
				var frReqData = JSON.stringify({
					id:frReqId,
				});
				tr_parent = $(this).closest("tr");
				
				$.ajax({
					url: "/userDeleteFriend/" + frReqId,
					type: "DELETE",
					data: frReqData,
					success: function(data) {
						console.log("Zahtev za uklanjanje fr.");
						tr_parent.remove();
					}
					
				});
			});
			
		/*]]>*/
		</script>


	</body>
</html>