<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Licitacija</title>
		<script th:inline="javascript">
			var podaci;
			$(document).ready(function(){
				var id = getUrlParameter('id');
				$.ajax({
					url : "http://localhost:8080/userAd/getUserAd/"+id
				}).then(
						function(data) {
							/*<![CDATA[*/
							var provera ="Bez";
							podaci = data;
							var userId = /*[[${session.loggedUser.getId()}]]*/ 'id'
							
							newRow = 
								"<tr>"
									+ "<td>" + data.name + "</td>"
									+ "<td>" + data.description + "</td>"
									+ "<td>" + data.date.toString() + "</td>"
									+ "<td><img height=\"50\" width=\"50\" src=\"../" + data.image + "\" /></td>";
								 newRow+="</tr>";
							$("#tableBody").append(newRow)
							
							/*]]>*/
						});
			});
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};

			$(document).on("click", ".sendBid", function(event){
				event.preventDefault();
				/*<![CDATA[*/
				var id = getUrlParameter('id');
				$.ajax({
					url : "http://localhost:8080/userAd/getBids/"+id
				}).then(
						function(data) {
							if($("#priceBid").val()==""){
								alert("Cena mora biti ceo broj!");
								return;
							}
								
							
							var currentUserId = /*[[${session.loggedUser.getId()}]]*/ 'id'
							var find=0;
							for(i=0;i<data.length;i++){
								if(currentUserId==data[i].userId){
									find=1;
									break;
								}
							}	
							if(find==0){
								var formData = JSON.stringify({
									userId:currentUserId,
									price:$("#priceBid").val(),
								});
								$.ajax({
									url: "http://localhost:8080/userAd/makeBid/"+podaci.id,
									type: 'POST',
									data: formData,
									contentType: "application/json",
									success: function(){
										window.location.href = "http://localhost:8080/Posetioci/polovniOglasi";
										
									}
								});
							}else{
								var formData = JSON.stringify({
									userId:currentUserId,
									price:$("#priceBid").val(),
								});
								$.ajax({
									
									url: "http://localhost:8080/userAd/editBid/"+podaci.id+"/"+currentUserId,
									type: 'PUT',
									data: formData,
									contentType: "application/json",
									success: function(){
										window.location.href = "http://localhost:8080/Posetioci/polovniOglasi";
									
									}
								});
							}
				});
				/*]]>*/
			});
		</script>			
	</head>
	<body>			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="ticketReservations.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link active text-danger" href="fanZonaPage">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		
		<nav class="navbar bg-dark row justify-content-center">
				<div class="nav nav-pills bg-dark">
						<ul class="nav nav-tabs bg-danger">			
							<li class="nav-item">
								<a class="nav-link text-white" href="fanZonaPage">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link active text-danger" href="polovniOglasi">Oglasi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="myReservations">Moje rezervacije</a>
							</li>
						</ul>
					</div>
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" th:src="@{/images/FanZone.jpg}" class="figure-img img-responsive " /> 
							
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Naziv</th>
								<th>Opis</th>
								<th>Datum</th>
								<th>Slika</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
						<form class="form-inline">
						<div class="form-group mb-2">
						    <input type="text" readonly class="form-control-plaintext"  value="Napravi ponudu:">
						</div>
						    <input type="number" step=0.01 class="form-control" id="priceBid" placeholder="Cena">
						  <button type="submit" class="btn btn-danger sendBid">Posalji ponudu</button>
						</form>
					</div>
					<div class="col">
						
					</div>
			</div>	
	</body>
</html>