<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Fan Zona</title>
		<script th:inline="javascript">
			$(document).ready(function(){
				$.ajax({
					url : "http://localhost:8080/userAd/getUserAds"
				}).then(
						function(data) {
							/*<![CDATA[*/
							var provera ="Bez";
							var userId = /*[[${session.loggedUser.getId()}]]*/ 'id'
							for (i = 0; i < data.length; i++) {
								if(data[i].aproved){
									if(data[i].image.toString().indexOf(provera) != -1){
										newRow = 
											"<tr>"
												+ "<td>" + data[i].name + "</td>"
												+ "<td>" + data[i].description + "</td>"
												+ "<td>" + data[i].date.toString() + "</td>"
												+ "<td>Bez slike</td>";
												if(data[i].creatorId == userId){
													newRow+= "<td><input type=\"submit\" value=\"Odaberi\"  class=\"btn btn-danger\" /></td>";
												}else{
													newRow+= "<td><input type=\"submit\" value=\"Licitiraj\"  class=\"btn btn-danger\" /></td>";
												}
											 newRow+="</tr>";
										$("#tableBody").append(newRow)
									}else{
										newRow = 
											"<tr>"
												+ "<td>" + data[i].name + "</td>"
												+ "<td>" + data[i].description + "</td>"
												+ "<td>" + data[i].date.toString() + "</td>"
												+ "<td><img height=\"50\" width=\"50\" src=\"../" + data[i].image + "\" /></td>";
												if(data[i].creatorId == userId){
													newRow+= "<td><input type=\"submit\" value=\"Odaberi\"  class=\"btn btn-danger\" /></td>";
												}else{
													newRow+= "<td><input type=\"submit\" value=\"Licitiraj\"  class=\"btn btn-danger\" /></td>";
												}
											 newRow+="</tr>";
										$("#tableBody").append(newRow)
									}
								}
							}
							/*]]>*/
						});
		</script>			
	</head>
	<body>			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link active text-danger" href="fanZonaPage">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		
		<nav class="navbar bg-dark row">
			<div class="col-sm">
						
			</div>	    
			<div class="col">
				<div class="nav nav-pills bg-dark">
						<ul class="nav nav-tabs bg-danger">			
							<li class="nav-item">
								<a class="nav-link text-white" href="fanZonaPage">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link active bg-light text-danger" href="polovniOglasi">Oglasi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="myReservations">Moje rezervacije</a>
							</li>
						</ul>
					</div>
			</div> 
			<div class="col-6-sm">
	  			
			</div>   
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" th:src="@{/images/FanZone.jpg}" class="figure-img img-responsive " /> 
							<figcaption class="figure-caption text-center">
								<form action="createNewAd">
	    							<input type="submit" value="Novi Oglas" class="btn btn-danger" />
								</form>	
							</figcaption>
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Naziv</th>
								<th>Opis</th>
								<th>Datum</th>
								<th>Slika</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
					<div class="col">
						
					</div>
			</div>	
	</body>
</html>