<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Fan Zona</title>
		<script>
			$(document).ready(function(){
				$.ajax({
					url : "http://localhost:8080/userAd/getUserAds"
				}).then(
						function(data) {
							var provera ="Bez";
							for (i = 0; i < data.length; i++) {
								if(data[i].aproved){
									if(data[i].image.toString().indexOf(provera) != -1){
										newRow = 
											"<tr>"
												+ "<td>" + data[i].name + "</td>"
												+ "<td>" + data[i].description + "</td>"
												+ "<td>" + data[i].date.toString() + "</td>"
												+ "<td>Bez slike</td>"
												+ "<td><input type=\"submit\" value=\"Licitiraj\"  class=\"btn btn-danger\" /></form></td>"
											+ "</tr>"
										$("#tableBody").append(newRow)
									}else{
										newRow = 
											"<tr>"
												+ "<td>" + data[i].name + "</td>"
												+ "<td>" + data[i].description + "</td>"
												+ "<td>" + data[i].date.toString() + "</td>"
												+ "<td><img height=\"50\" width=\"50\" src=\"../" + data[i].image + "\" /></td>"
												+ "<td><input type=\"submit\" value=\"Licitiraj\"  class=\"btn btn-danger\" /></form></td>"
											+ "</tr>"
										$("#tableBody").append(newRow)
									}
								}
							}
						});
			});
			$(document).on("click", ".searchButton", function(event){
				event.preventDefault();
				$.ajax({
					url : "http://localhost:8080/userAd/getUserAds"
				}).then(
						function(data) {
							$("#tableBody").empty();
							var provera ="Bez";
							var provera2=$('#searchField').val();
							for (i = 0; i < data.length; i++) {
								if(data[i].image.toString().indexOf(provera) != -1){
									if(data[i].name.toString().indexOf(provera2) != -1){
										newRow = 
											"<tr>"
											+ "<td>" + data[i].name + "</td>"
											+ "<td>" + data[i].description + "</td>"
											+ "<td>" + data[i].date.toString() + "</td>"
											+ "<td>Bez slike</td>"
											+ "<td><input type=\"submit\" value=\"Licitiraj\"  class=\"btn btn-danger\" /></form></td>"
										+ "</tr>"
										$("#tableBody").append(newRow)
									}
								}else{
									if(data[i].name.toString().indexOf(provera2) != -1){
										newRow =
											"<tr>"
											+ "<td>" + data[i].name + "</td>"
											+ "<td>" + data[i].description + "</td>"
											+ "<td>" + data[i].date.toString() + "</td>"
											+ "<td><img height=\"50\" width=\"50\" src=\"../" + data[i].image + "\" /></td>"
											+ "<td><input type=\"submit\" value=\"Licitiraj\"  class=\"btn btn-danger\" /></form></td>"
										+ "</tr>"
										$("#tableBody").append(newRow)
									}
								}
							}
						});
			});
		</script>			
	</head>
	<body>			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link active text-danger" href="fanZonaPage">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		
		<nav class="navbar bg-dark row">
			<div class="col-sm">
						
			</div>	    
			<div class="col">
				<div class="nav nav-pills bg-dark">
						<ul class="nav nav-tabs bg-danger">			
							<li class="nav-item">
								<a class="nav-link text-white" href="fanZonaPage">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="polovniOglasi">Oglasi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active bg-light text-danger" href="myReservations">Moje rezervacije</a>
							</li>
						</ul>
					</div>
			</div> 
			<div class="col-6-sm">
	  			<form class="form-inline">
					   <input class="form-control mr-sm-2" id="searchField" type="text" placeholder="Trazi po nazivu">
					  <button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">Trazi</button>
	  			</form>
			</div>   
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" th:src="@{/images/FanZone.jpg}" class="figure-img img-responsive " /> 
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Naziv</th>
								<th>Opis</th>
								<th>Datum</th>
								<th>Slika</th>
								<th>Licitacija</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
					<div class="col">
						
					</div>
			</div>	
	</body>
</html>