<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Rezervacija filma</title>		
		<script>
			var id;	
			var filmId;
			var saleId=[];
			var sale=[];
			var termini=[];
			var index=-1;
			var film;
			var mesta=[];
			$(document).ready(function(){				
				id = getUrlParameter('id');	
				filmId = getUrlParameter('filmId');
				$("#home").attr("href", "cinemaDetails.html?id="+id);
				$("#repertoar").attr("href", "cinemaRepertoar.html?id="+id);
				$("#popusti").attr("href", "cinemaDiscounts.html?id="+id);
				$.ajax({
					url : "http://localhost:8080/movies/"+filmId
				}).then(
						function(data){
							film=data;
							$("#naslov").text("Rezervacija za film "+data.name);
							for(i=0;i<data.auditoriums.length;i++){
								newOption = '<option>'+data.auditoriums[i].name+'</option>';
								sale.push(data.auditoriums[i]);
								$("#inputAuditoriums").append(newOption);
							}
							for(i=0;i<data.term.length;i++){
								newOption = '<option>'+data.term[i]+'</option>';
								termini.push(data.term[i]);
								$("#inputTerms").append(newOption);
							}
						});
				$("#draw").click(function(event) {
					event.preventDefault();				
					if($("#inputDate").val()===""){
						alert("Izaberite validan datum");
						return;
					}
					var UserDate = $("#inputDate").val();				
					var salaName=$("#inputAuditoriums option:selected").text();
					var salaId=0;
					var sala;
					for(i=0;i<sale.length;i++){
						if(sale[i].name===salaName){
							salaId=sale[i].id;
							sala=sale[i];
							break;
						}
					}
					var movie=film;					
					var termin=$("#inputTerms option:selected").text(); 
					var projection;
					var projectionId=0;
					var filmId=movie.id;
					$.ajax({
						url : "http://localhost:8080/projections/getProjections",
						async : false,
						success :
							function(data){	
								for(i=0;i<data.length;i++){
									if(data[i].auditoriumId===salaId && data[i].term===termin && data[i].date===UserDate ) { 
										projectionId=data[i].id;
										break;
									}
								}	
								window.location.href = 'http://localhost:8080/Posetioci/reserveMovie2.html?id='+projectionId+'&rows='+sala.rows+'&cols='+sala.columns;
								
							}
					});
				});
			});				
			
			function TDate() {
			    var UserDate = $("#inputDate").val();
			    var ToDate = new Date();
				var maxDate= new Date();
				maxDate.setDate(maxDate.getDate()+10)
			    if (new Date(UserDate).getTime() <= ToDate.getTime() || new Date(UserDate).getTime() > maxDate.getTime() ) {
			          alert("Izaberite datum u rasponu od narednih 10 dana (bez danasnjeg)");
			          $("#inputDate").val("");
			          return false;
			     }			   
			    return true;
			}
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};			
		</script>	
	</head>	
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>					
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>		
		<nav class="navbar bg-dark justify-content-center">
		    <div>
		        <div class="nav nav-pills bg-dark flex-row">
					<ul class="nav nav-tabs bg-danger flex-row ">	
						<li class="nav-item">
							<a class="nav-link text-white" id="home" href="#">Home</a>				
						</li>		
						<li class="nav-item">
							<a class="nav-link text-white" id="repertoar" href="#">Repertoar</a>				
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" id="popusti" href="#">Popusti</a>
						</li>
					</ul>
				</div>
		    </div>
		</nav>
		<div class="container col-md-4 mt-5">
			<div class="text-center">				
				<h1 id="naslov"></h1>
			</div>
			<br/>
			<br/>
			<div class="row">				
				<div class="col-sm-10">
				  <label for="inputDate" class="col-form-label">Izaberi datum</label>
			      <input type="date" id="inputDate" class="form-control" onchange="TDate()" required>
			    <br/>
			    </div>			     
			</div>
			<div class="row">				
				<div class="col-sm-10">
				  <label for="inputAuditoriums" class="col-form-label">Izaberi salu</label>
			      <select id="inputAuditoriums" class="form-control">			       
			      </select>
			    <br/>
			    </div>			     
			</div>
			<div class="row">				
				<div class="col-sm-10">
				  <label for="inputTerms" class="col-form-label">Izaberi termin</label>
			      <select id="inputTerms" class="form-control">			       
			      </select>
			    <br/>
			    </div>			     
			</div>			
			<div>
	    			<button id="draw" class="btn btn-danger">Dalje</button>
			</div>
		</div>
	</body>
</html>