<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/scripts/jquery.tablesorter.js}"></script>	
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Pozorista</title>			
		<script>
				$(document).ready(function(){
					
					$.ajax({
						url : "http://localhost:8080/theatres/getTheatres"
					}).then(
							function(data) {
								for (i = 0; i < data.length; i++) {
									rating=data[i].rating;
									ratingText="";
									for(j = 0; j < 5; j++){
										if(rating<0.5){
											ratingText+="&#9734;";
										}
										else{
											ratingText+="&#9733;";
											rating-=1;
										}
									}
									newRow = 
										"<tr>"
											+ "<td><a class=\"theatres\" href=\"\" id=\""+data[i].id+"\">" + data[i].name + "</a></td>"
											+ "<td>" + data[i].adress + "</td>"
											+ "<td>" + ratingText + "</td>"
											+ "<td><form action=\"http://google.com\"><input type=\"submit\" value=\"Pogledaj\" /></form></td>"
										+ "</tr>"
									$("#tableBody").append(newRow)
								}
							});
				});
			$(document).on("click", ".theatres", function(event) {
				event.preventDefault();
				id=$(this).closest("a").attr("id");	
				var redirect = function(url, method) {
					var div = document.createElement('div');
					var form = document.createElement('form');
					div.setAttribute("class","invisible");
					div.appendChild(form);
					document.body.appendChild(div);
					var input = document.createElement('input');
					input.name='id';
					input.value=id;
					form.appendChild(input);
					form.method = method;
					form.action = url;
					form.submit();
				};
				redirect('theaterDetails.html','GET');
			});	
			
			
				
		</script>
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">		
				<li class="nav-item">
					<a class="nav-link text-danger active">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="homePage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="friends.html">Prijatelji</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="cinemasPage.html">Rezervacije</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="settings.html">Podesavanja</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" href="fanZonaPage.html">Fan Zona</a>
				</li>		
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<div class="container">
			<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Ime</th>
					<th>Adresa</th>
					<th>Rejting</th>
					<th>Repertoar</th>
				</tr>
			</thead>
			<tbody id="tableBody">
			</tbody>
			</table>
		</div>	
	</body>
</html>