<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/scripts/bootstrap.js}"></script>	
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">		
		<title>Repertoar</title>	
		<script>
		var id;
			$(document).ready(function(){	
				$("#director").text("proba");
				id = getUrlParameter('id');	
				$("#home").attr("href", "cinemaDetails.html?id="+id);
				$.ajax({
					url : "http://localhost:8080/cinemas/"+id+"/getMovies"
				}).then(
						function(data) {
							for (i = 0; i < data.length; i++) {
								rating=data[i].rating;
								ratingText="";
								for(j = 0; j < 5; j++){
									if(rating<0.5){
										ratingText+="\u2606";
									}
									else{
										ratingText+="\u2605";
										rating-=1;
									}
								}	
								if(rating===-1){
									ratingText='Nije ocenjen';
								}
								listaTermina="";
								for(l=0;l<data[i].term.length;l++){
									for(p=0;p<data[i].auditoriums.length;p++){
										listaTermina+=  '   							<div class="card box-shadow bg-dark border-danger text-info mx-auto" style="width: 5rem;">  '  + 
										 '   								<h3 class="text-warning mt-1">'+data[i].term[l]+'</h3>  '  + 
										 '   								<span>'+data[i].price+'din</span>  '  + 
										 '   								<span class="mb-2">'+data[i].auditoriums[p].name+'</span>  '  + 
										 '   							</div>  ';
									}
								}
								poster="";						
								if(data[i].poster===("Bez slike")){
									poster='imagesMovies\\nemaslike.png';
								}
								else{
									poster=data[i].poster;
								}
								newli = '   <li class="col-lg-12 margin-bottom-0 movie">  '  + 
								 '   					<div class="margin-bottom-0 row clearfix">  '  + 
								 '   						<div class="col-md-3 text-center">  '  + 
								 '   							<img class="img-responsive" src="../'+poster+'" alt="" width="190" height="285">  '  + 
								 '   						</div>  '  + 
								 '   						<div class="col-md-5">							  '  + 
								 '   							<ul class="list-unstyled text-left">  '  + 
								 '   								<li><h1 class="mt-1">'+data[i].name+'</h1></li>  '  + 
								 '   								<li class="mt-4"><b>Režiser: </b>'+data[i].directorName+'</li>  '  + 
								 '   								<li><b>Žanr: </b>'+data[i].genre+'</li>  '  + 
								 '   								<li><b>Glumci: </b>'+data[i].actors+'</li>		  '  + 
								 '   								<li><b>Trajanje: </b>'+data[i].length+'min</li>	  '  + 
								 '   								<li><b>Rejting: </b>'+ratingText+'</li>  '  + 
								 '   								<li><b>Opis: </b>'+data[i].description+'</li> 	</br>	'  +		
								 '  								<li><button class="btn btn-danger edit" data-id='+data[i].id+'>Izmeni</button> <button class="btn btn-danger delete" href=/movies/'+data[i].id+'>Obrisi</button></li>	' +	
								 '   							</ul>		  '  + 
								 '   						</div>  '  + 
								 '   						<div class="col-md-4 text-center">  '  + 
								 '   							<h4>Termini projekcija</h4>  '  + 
								 									listaTermina +
								 '   						</div>  '  + 
								 '   					</div>  '  + 
								 '   				</li>  '  + 
								 '  				<div class="col-md-12"><hr></div>  ' ; 
							$("#filmovi").append(newli);
							}
							
						});
			});
			
			$(document).on("click", "#add", function(event){
				window.location.href = 'http://localhost:8080/AdminPozoristaBioskopi/createNewMovie.html?id='+id;
			});
			
			$(document).on("click", "#refresh", function(event){
				$.ajax({
					url : "http://localhost:8080/cinemas/refreshCinema/"+id
				}).then(function(data){
					alert("Uspesno odradjen refresh");
				});
			});
			
			$(document).on("click", ".edit", function(event){
				filmId=$(this).attr('data-id');
				$.ajax({
					url : "http://localhost:8080/reservations/isEditable/"+filmId
				}).then(function(data){
					if(data){
						window.location.href = 'http://localhost:8080/AdminPozoristaBioskopi/updateMovie.html?id='+id+'&filmId='+filmId;
					}
					else{
						alert("Ne mozete menjati podatke posto postoje rezervacije za dati film");
					}
				});
				
			});
			
			$(document).on("click", ".delete", function(event){
				event.preventDefault(); 				
				var confirmed = confirm("Da li ste sigurni da zelite da obrisete ovaj film?");
				if(confirmed){
					var url = $(this).attr("href");
					//red koji se treba izbrisati ako je brisanje na serveru bilo uspesno
					li_parent = $(this).closest("li.movie");
					nextDiv = li_parent.next();
					$.ajax({
			        	url: url,
			        	type: "DELETE",
			        	success: function(){
			        		//ukloni i na strani 
							li_parent.remove();
			        		nextDiv.remove();
				        }
					});
				}
			});
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};
		</script>
	</head>
	<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">
				<li class="nav-item">
					<a class="nav-link text-white" href="homePage.html">Home</a>
				</li>					
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger" href="cinemasPage.html">Bioskopi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="updateAdmin.html">Podesavanja</a>
				</li>			
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<nav class="navbar bg-dark justify-content-center">
		    <div>
		        <div class="nav nav-pills bg-dark flex-row">
					<ul class="nav nav-tabs bg-danger flex-row ">	
						<li class="nav-item">
							<a class="nav-link text-white" id="home" href="#">Home</a>				
						</li>		
						<li class="nav-item">
							<a class="nav-link active text-danger">Repertoar</a>				
						</li>
					</ul>
				</div>
		    </div>
		</nav>
		<div class="row">
			<div class="col mt-5">
				<figure class="figure">
					<img height="250" width="380" hspace="20"
						th:src="@{/images/movie.jpg}" class="figure-img img-responsive " />
					<figcaption class="figure-caption text-center">
						<button class="btn btn-danger" id="add">Dodaj film</button>
					</figcaption>
				</figure>
			</div>
			<div class="container border border-danger bg-white col-6">
				<hr class="margin-bottom-20">			
				<ul class="row list-inline" id="filmovi">				
				</ul>			
			</div>
			<div class="col mt-5 text-center">				
	    		<button class="btn btn-danger" id="refresh">Refresh projekcija</button>
			</div>					
		</div>
	</body>
</html>