<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/scripts/bootstrap.js}"></script>	
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">		
		<title>Novi film</title>
		<script>
			var termini=[];
			var input="";
			var file;
			var reader;
			var salePrve=[];
			var id;
			function previewFile() {
				  var preview = document.querySelector('img');
				  file    = document.querySelector('input[type=file]').files[0];
				  reader  = new FileReader();

				  reader.addEventListener("load", function () {
				    preview.src = reader.result;
				  }, false);

				  if (file) {
				    reader.readAsDataURL(file);
				  }
				}
			$(document).ready(function(){				
				id = getUrlParameter('id');	
				$("#home").attr("href", "cinemaDetails.html?id="+id);
				$.ajax({
					url : "http://localhost:8080/cinemas/"+id
				}).then(
						function(data) {
							salePrve=data.auditoriums;
							for(j = 0; j<data.auditoriums.length; j++){
								input+=' <input type="checkbox" class="ml-2" id="input'+data.auditoriums[j].name+'"> '+data.auditoriums[j].name+'<br/>';
							}
							$("#Sale").append(input);
						});
				$("#add").click(function(){
					var provera = /^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
					var box=$("#inputTerm").val();
					var dobar = provera.test(box);					
					var termin="";
					if(dobar){	
						termini.push(box);
						var terminId=termini.length-1;
						termin='<li name='+box+'>'+box+'  <input type=button class="btn btn-danger brisi" value="-"></li>';				
						$("#terms").append(termin);
					}
					else{
						alert("Termin mora biti oblika HH:MM ")
					}
				});				
				
				$("input[type='submit']").click(function(event) {
					event.preventDefault();				
					function validate(){
						if ($('#inputName').val() == "" || $('#inputDescription').val() == "" || $('#inputDirectorName').val() == "" || $('#inputGenre').val() == "" || $('#inputLength').val() == "") {
					        alert("Pri kreiranju filma, obavezna polja su naziv, režiser, žanr, opis i trajanje ");//odradi za termine jos
					        $('#inputName').focus();
					        return false;
					    }
						
						return true;
					}  
					if(!validate()){
						return;
					}
					var sale = [];
					for(j = 0; j<salePrve.length; j++){
						if($("#input"+salePrve[j].name).is(':checked')){
							sale.push(salePrve[j]);
						}
					}
					if(sale.length===0){
						 alert("Morate izabrati barem jednu salu za projekciju filma");
						 return;
					}
					if(reader!=null){
						var splitImage = reader.result.split('base64,');					
						var formData = JSON.stringify({
							name:$("#inputName").val(),
							actors:$("#inputActors").val(),
							directorName:$("#inputDirectorName").val(),
							genre:$("#inputGenre").val(),
							length:$("#inputLength").val(),
							price:$("#inputPrice").val(),
							description:$("#inputDescription").val(),
							auditoriums:sale,
							term:termini,
							cinemaId:id,
							poster:splitImage[1],							
							
						});
							$.ajax({
								url: "http://localhost:8080/movies",
								type: 'POST',
								data: formData,
								contentType: "application/json",
								success: function(data){
									$.ajax({
										url: "http://localhost:8080/cinemas/"+id+"/addMovie/"+data.id,
										type: 'PUT',							
										success: function(){
											window.location.href = "http://localhost:8080/AdminPozoristaBioskopi/cinemaRepertoar.html?id="+id;
									}
								});
								}
							});
					}else{
						var formData = JSON.stringify({
							name:$("#inputName").val(),
							actors:$("#inputActors").val(),
							directorName:$("#inputDirectorName").val(),
							genre:$("#inputGenre").val(),
							length:$("#inputLength").val(),
							price:$("#inputPrice").val(),
							description:$("#inputDescription").val(),
							term:termini,
							cinemaId:id,
							auditoriums:sale
						});
						$.ajax({
							url: "http://localhost:8080/movies",
							type: 'POST',
							data: formData,
							contentType: "application/json",
							success: function(data){
								$.ajax({
									url: "http://localhost:8080/cinemas/"+id+"/addMovie/"+data.id,
									type: 'PUT',							
									success: function(){
										window.location.href = "http://localhost:8080/AdminPozoristaBioskopi/cinemaRepertoar.html?id="+id;
								}
							});
							}
						});
					}
				});
			});			
			$(document).on("click", ".brisi", function(event){
				event.preventDefault();
				li_parent = $(this).closest("li");
				deleteTerm=li_parent.attr('name');
				termini.splice(termini.indexOf(deleteTerm),1);
				li_parent.remove();
			});
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};
		</script>
	</head>	
	<body>
		<body class="bg-light">			
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">
				<li class="nav-item">
					<a class="nav-link text-white" href="homePage.html">Home</a>
				</li>					
				<li class="nav-item">
					<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
				</li>
				<li class="nav-item">
					<a class="nav-link active text-danger" href="cinemasPage.html">Bioskopi</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white" th:href="updateAdmin.html">Podesavanja</a>
				</li>		
			</ul>
			<a class="nav-link mr-0 text-white" href="../NeregistrovaniKorisnici/login.html">Odjava</a>
		</div>
		<nav class="navbar bg-dark justify-content-center">
		    <div>
		        <div class="nav nav-pills bg-dark flex-row">
					<ul class="nav nav-tabs bg-danger flex-row ">	
						<li class="nav-item">
							<a class="nav-link text-white" id="home" href="#">Home</a>				
						</li>		
						<li class="nav-item">
							<a class="nav-link active text-danger">Repertoar</a>				
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="cinemaPopusti.html">Popusti</a>
						</li>
					</ul>
				</div>
		    </div>
		</nav>
		<div class="container col-md-4 mt-5">
			<form>
			  <div class="form-group row">
				    <label for="inputImage" class="col-sm-2 col-form-label">Poster</label>
				    <div class="col-sm-10">
			     		 <input type="file" onchange="previewFile()"><br>
				 		 <img src="" height="200" alt="Pregled slike...">
			    	</div>
			  </div>
			  <div class="form-group row">
			    <label for="inputName" class="col-sm-2 col-form-label">Naziv</label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputName" placeholder="Naziv">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputActors" class="col-sm-2 col-form-label">Glumci</label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputActors" placeholder="Glumci">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputDirectorName" class="col-sm-2 col-form-label">Režiser</label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputDirectorName" placeholder="Režiser">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputGenre" class="col-sm-2 col-form-label">Žanr</label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputGenre" placeholder="Žanr">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputLength" class="col-sm-2 col-form-label">Trajanje</label>
			    <div class="col-sm-10">
			      <input type="number" class="ml-2" id="inputLength" placeholder="Trajanje">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputPrice" class="col-sm-2 col-form-label">Cena</label>
			    <div class="col-sm-10">
			      <input type="number" class="ml-2" id="inputPrice" placeholder="Cena karte">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputDescription" class="col-sm-2 col-form-label">Opis</label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputDescription" placeholder="Opis">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Sale</label>
			    <div id="Sale" class="col-sm-10">
			    </div>
			  </div>
			  <div class="form-group row">		    
			    <div class="col-sm-10">
			      Termini <input type="text" class="ml-2" id="inputTerm" placeholder="Termin"> <button class="btn btn-success" id="add" type="button">+</button>
			      <div><ul class="list-unstyled" id="terms"></br></ul></div>
			    </div>
			  </div>		
			  <div class="form-group row">
			    <div class="col-sm-10">
	    			<input type="submit" value="Dodaj film" class="btn btn-danger" />
			    </div>
			  </div>
			</form>
		</div>
	</body>
</html>