<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Fan Zona Admin</title>
		  <script>
			$(document).ready(function(){
				$.ajax({
					url : "http://localhost:8080/officialAd/getOfficialAds"
				}).then(
						function(data) {
							var provera ="Bez";
							for (i = 0; i < data.length; i++) {
								if(data[i].image.toString().indexOf(provera) != -1){
									newRow = 
										"<tr>"
											+ "<td>Bez slike</td>"
											+ "<td>" + data[i].name + "</td>"
											+ "<td>" + data[i].price + "</td>"
											+ "<td>" + data[i].description + "</td>"
											+ "<td><button   class=\"btn btn-danger delete\" href='/officialAd/" + data[i].id + "' >Ukloni</button></td>"
											+ "<td><a href='updateOfficialAd.html?id=" + data[i].id + "' >Izmeni</a></td>"
										+ "</tr>"
									$("#tableBody").append(newRow)
								}else{
									newRow =
										"<tr>"
											+ "<td><img height=\"50\" width=\"50\" src=\"../" + data[i].image + "\" /></td>"
											+ "<td>" + data[i].name + "</td>"
											+ "<td>" + data[i].price + "</td>"
											+ "<td>" + data[i].description + "</td>"
											+ "<td><button   class=\"btn btn-danger delete\" href='/officialAd/" + data[i].id + "' >Ukloni</button></td>"
											+ "<td><a href='updateOfficialAd.html?id=" + data[i].id + "' >Izmeni</a></td>"
										+ "</tr>"
									$("#tableBody").append(newRow)
								}
							}
						});
			});
			$(document).on("click", ".delete", function(event){
				//ne salji get zahtev
				event.preventDefault(); 
				
				var confirmed = confirm("Da li ste sigurni da zelite da obrisete ovaj oglas?");
				if(confirmed){
				
					var url = $(this).attr("href")
					//red koji se treba izbrisati ako je brisanje na serveru bilo uspesno
					tr_parent = $(this).closest("tr")
					$.ajax({
			        	url: url,
			        	type: "DELETE",
			        	success: function(){
			        		//ukloni i na strani 
							tr_parent.remove()
				        }
					});
				}
			});
			
			$(document).on("click", ".searchButton", function(event){
				event.preventDefault(); 
				$.ajax({
					url : "http://localhost:8080/officialAd/getOfficialAds"
				}).then(
						function(data) {
							$("#tableBody").empty();
							var provera ="Bez";
							var provera2=$('#searchField').val();
							for (i = 0; i < data.length; i++) {
								if(data[i].image.toString().indexOf(provera) != -1){
									if(data[i].name.toString().indexOf(provera2) != -1){
										newRow = 
											"<tr>"
												+ "<td>Bez slike</td>"
												+ "<td>" + data[i].name + "</td>"
												+ "<td>" + data[i].price + "</td>"
												+ "<td>" + data[i].description + "</td>"
												+ "<td><button   class=\"btn btn-danger delete\" href='/officialAd/" + data[i].id + "' >Ukloni</button></td>"
												+ "<td><a th:href='updateOfficialAd.html?id=" + data[i].id + "' >Izmeni</a></td>"
											+ "</tr>"
										$("#tableBody").append(newRow)
									}
								}else{
									if(data[i].name.toString().indexOf(provera2) != -1){
										newRow =
											"<tr>"
												+ "<td><img height=\"50\" width=\"50\" src=\"../" + data[i].image + "\" /></td>"
												+ "<td>" + data[i].name + "</td>"
												+ "<td>" + data[i].price + "</td>"
												+ "<td>" + data[i].description + "</td>"
												+ "<td><button   class=\"btn btn-danger delete\" href='/officialAd/" + data[i].id + "' >Ukloni</button></td>"
												+ "<td><a th:href='updateOfficialAd.html?id=" + data[i].id + "' >Izmeni</a></td>"
											+ "</tr>"
										$("#tableBody").append(newRow)
									}
								}
							}
						});
			});
		</script>			
	</head>
	<body class="bg-light">			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">	
				<li class="nav-item">
					<a class="nav-link active text-danger" th:href="adminFanZona">Fan Zona</a>
				</li>		
				
				<li class="nav-item">
					<a class="nav-link text-white" th:href="adminSettings">Podesavanja</a>
				</li>					
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<nav class="navbar navbar-expand-md bg-dark">
			    <div class="mx-auto order-0 w-50">
			        <div class="nav nav-pills bg-dark flex-row justify-content-end">
						<ul class="nav nav-tabs bg-danger flex-row">			
							<li class="nav-item">
								<a class="nav-link active bg-light text-danger" th:href="adminFanZona">Zvanicna prodavnica</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" th:href="adminUsedAd">Oglasi</a>
							</li>
						</ul>
					</div>
			    </div>
			    <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
			        <ul class="navbar-nav ml-auto flex-row">
			            <li class="nav-item">
							<nav class="navbar navbar-light bg-dark">
	  							<form class="form-inline">
					    			<input class="form-control mr-sm-2" id="searchField" type="text" placeholder="Trazi po nazivu">
					    			<button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">Trazi</button>
	  							</form>
							</nav>
			            </li>
			        </ul>
			    </div>
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="250" width="380" hspace="20" th:src="@{/images/FanZone.jpg}" class="figure-img img-responsive " /> 
							<figcaption class="figure-caption text-center">
								<form action="createNewOfficialAd">
	    							<input type="submit" value="Novi Oglas" class="btn btn-danger" />
								</form>					
							</figcaption>
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Slika</th>
								<th>Naziv</th>
								<th>Cena</th>
								<th>Opis</th>
								<th>Ukloni</th>
								<th>Izmeni</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
					<div class="col">
						
					</div>
			</div>		
	</body>
</html>