<!DOCTYPE html>
<html>
	<head>
		<title>Registracija</title>
		<script src="scripts/jquery-3.2.1.min.js"></script>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		
	</head>	
	<body class="bg-light">
		<ul class="nav nav-tabs bg-danger">	
			<li class="nav-item">
				<a class="nav-link text-white" href="theatresPage.html">Pozorista</a>				
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="cinemasPage.html">Bioskopi</a>
			</li>
		</ul>
		
		<div class="container mx-auto">
		<form class="mt-5 text-center needs-validation" id="registerForm" novadalite>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="name">Ime</label>
				    <input class="form-control text-center w-26 mx-auto" type="text" id="name" placeholder="Unesite ime" required>
				</div>
				<div class="invalid-feedback">
          			Please choose a username.
        		</div>
				<div class="form-group col-md-2">
				    <label for="lastname">Prezime</label>
				    <input class="form-control text-center w-26 mx-auto" type="text" id="lastname" placeholder="Unesite prezime" required>
				</div>
				<div class="form-group col-md-2">
					<label for="grad">Grad</label>
					<input class="form-control text-center w-26 mx-auto" type="text" id="grad" placeholder="Unesite grad" required><br/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
						<label for="email">Email</label>
						<input class="form-control text-center w-26 mx-auto" type="email" name="email" id="email" placeholder="Unesite email" required><br/>
				</div>
				<div class="form-group col-md-2">
					<label for="brtel">Broj telefona</label> 
					<input class="form-control text-center w-26 mx-auto" type="text" id="brtel" placeholder="Unesite broj telefona" required><br/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="password">Lozinka</label>
				    <input class="form-control text-center w-26 mx-auto" type="password"  id="pass" placeholder="Password" required>
				</div>
				<div class="form-group col-md-2">
				    <label for="repeatedPassword">Ponovite lozinku</label>
				    <input class="form-control text-center w-26 mx-auto" type="password"  id="repPass" placeholder="Repeated password" required>				    
				</div>
			</div>
			<input type="submit" class="btn btn-primary bg-danger" value="Register">
		</form>	
		</div>
		
		<script>

				function validateForm() {
				/*var name = $("#name").val();
				var lastName = $("#lastname").val();
				var city = $("#grad").val();
				var email = $("#email").val();
				var phone = $("#brtel").val();*/
				var pass = $("#pass").val();
				var repPass = $("#repPass").val();
				if ($)
				if (pass != repPass) {
					alert("Lozinke moraju biti iste.");
					$("#pass").val("");
					$("#repPass").val("");
					return false;
				}
				if (document.getElementById("name").validity.valueMissing) {
					alert("Popunite ime.")
					return false;
				}
				if (document.getElementById("lastname").validity.valueMissing) {
					alert("Popunite prezime.")
					return false;
				}
				if (document.getElementById("grad").validity.valueMissing) {
					alert("Popunite polje grad.")
					return false;
				}
				if (document.getElementById("email").validity.valueMissing) {
					alert("Popunite polje email.")
					return false;
				}
				if (document.getElementById("brtel").validity.valueMissing) {
					alert("Popunite polje broj telefona.")
					return false;
				}
				if (document.getElementById("pass").validity.valueMissing) {
					alert("Popunite polje lozinke.")
					return false;
				}
				if (document.getElementById("repPass").validity.valueMissing) {
					alert("Popunite polje ponovljene lozinke.")
					return false;
				}
				return true;
				}
			
				$("input[type='submit']").click(function(event) {
					event.preventDefault();
					if(validateForm()) {
						var formData = JSON.stringify({
							email:$('input[name="email"]').val(),
							password:$("#pass").val(),
							firstName:$("#name").val(),
							lastName:$("#lastname").val(),
							city:$("#grad").val(),
							phone:$("#brtel").val(),
						});
						$.ajax({
							url: "/users",
							type: 'POST',
							data: formData,
							contentType: "application/json",
							datatype: "text/html",
							success: function(data){
								console.log("Ajax zahtev za registraciju.");
								window.location.href = "http://localhost:8080/templates/eregistrovaniKorisnici/emailConfirm.html";
							}
						});
					}
				});
				
			
		</script>
	</body>
</html>