<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<meta charset="UTF-8">
		<title>Fan Zona Admin</title>
		  <script>
			$(document).ready(function(){
				$.ajax({
					url : "http://localhost:8080/getUsers"
				}).then(
						function(data) {
							for (i = 0; i < data.length; i++) {
								if(data[i].userType==2){
									newRow = 
										"<tr>"
											+ "<td>" + data[i].firstName + "</td>"
											+ "<td>" + data[i].lastName + "</td>"
											+ "<td>" + data[i].email + "</td>"
											+ "<td>" + data[i].city + "</td>"
										+ "</tr>"
									$("#tableBody").append(newRow)
								}
							}
						
					});
				});
		</script>			
	</head>
	<body>			
		 <div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger justify-content-center">	
				<li class="nav-item">
					<a class="nav-link active text-danger" th:href="adminFanZona">Bioskopi</a>
				</li>		
				
				<li class="nav-item">
					<a class="nav-link text-white" th:href="theatresAdmin">Pozorista</a>
				</li>		
				<li class="nav-item">
					<a class="nav-link text-white" th:href="fanZonaAdmin">Fan Zona</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<nav class="navbar navbar-expand-md bg-dark">
			    <div class="mx-auto order-0 w-50">
			        <div class="nav nav-pills bg-dark flex-row justify-content-center">
						<ul class="nav nav-tabs bg-danger flex-row">			
							<li class="nav-item">
								<a class="nav-link text-white" th:href="cinemasAdmin">Bioskopi</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link active bg-light text-danger" th:href="cinemasAdminView">Administratori bioskopa</a>
							</li>
						</ul>
					</div>
			    </div>
		</nav>
			<div>
				 <div class="row">
				 	<div class="col mt-5">
						<figure class="figure">
							<img height="300" width="380" hspace="20" th:src="@{/images/admin.jpg}" class="figure-img img-responsive " /> 
							<figcaption class="figure-caption text-center">
								<form action="createNewCinemaAdmin">
	    							<input type="submit" value="Kreiraj novog admina" class="btn btn-danger" />
								</form>					
							</figcaption>
						</figure>
					</div>
					<div class="col-6">
						<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Ime</th>
								<th>Prezime</th>
								<th>Email</th>
								<th>Grad</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
						</table>
					</div>
					<div class="col">
						
					</div>
			</div>		
	</body>
</html>