<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-YyCq09kOBAfdxzfvceBtUov8tfj5Mh4&libraries=places"></script>
		<script th:src="@{/scripts/jquery.geocomplete.js}"></script>
		<meta charset="UTF-8">
		<title>Kreiranje novog bioskopa</title>			
	</head>

	<body>
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link active text-danger" th:href="cinemasAdmin">Bioskopi</a>
				</li>		
				
				<li class="nav-item">
					<a class="nav-link text-white" th:href="theatresAdmin">Pozorista</a>
				</li>		
				<li class="nav-item">
					<a class="nav-link text-white" th:href="fanZonaAdmin">Fan Zona</a>
				</li>							
			</ul>
			<a class="nav-link mr-0 text-white" href="adminSettings">Podesavanje</a>
			<a class="nav-link mr-0 text-white" href="/index.html">Odjava</a>
		</div>
		<nav class="navbar navbar-expand-md bg-dark">
			    <div class="mx-auto order-0 w-50">
			        <div class="nav nav-pills bg-dark flex-row justify-content-center">
						<ul class="nav nav-tabs bg-danger flex-row">			
							<li class="nav-item">
								<a class="nav-link text-white" th:href="cinemasAdmin">Bioskopi</a>				
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" th:href="cinemasAdminView">Administratori bioskopa</a>
							</li>
						</ul>
					</div>
			    </div>
		</nav>
	
		<div class="container col-md-4 mt-5">
			<form id="property">
			  <div class="form-group row">
			    <label for="inputName" class="col-sm-2 col-form-label">Naziv: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputName" placeholder="Naziv">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputDescription" class="col-sm-2 col-form-label">Promotivni opis: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputDescription" placeholder="Promotivni opis">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="adress" class="col-sm-2 col-form-label">Adresa: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="address" placeholder="Adresa">
			    </div>
			  </div>
  
			  <div class="form-group row">
			    <label for="inputLat" class="col-sm-2 col-form-label">Geografska sirina: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" name="lat" id="inputLat" placeholder="Geografska sirina" readonly>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputLng" class="col-sm-2 col-form-label">Geografska visina: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" name="lng" id="inputLng" placeholder="Geografska visina" readonly>
			    </div>
			  </div>
			  <label class="font-weight-bold">Dodaj sale:</label>
			  <br/>
			  <br/>
			  <div class="form-group row">
			    <label for="inputAuditoriumName" class="col-form-label">Naziv sale:  </label>
			    <div class="col-sm">
			      <input type="text" class="ml-2" id="inputAuditoriumName" placeholder="Naziv" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputRows" class="col-form-label">Broj redova: </label>
			    <div class="col-sm">
			      <input type="number" class="ml-2" id="inputRows" placeholder="Broj redova" >
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputCols" class="col-form-label">Broj kolona: </label>
			    <div class="col-sm">
			      <input type="number" class="ml-2" id="inputCols" placeholder="Broj kolona" >
			      <input value="Dodaj salu" type="button" id="addAuditorium" class="btn btn-danger addAuditorium"/>
			      <div><ul class="list-unstyled" id="auditoriums"></br></ul></div>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <div class="col-sm-10">
	    			<input type="submit" value="Napravi bioskop" class="btn btn-danger" />
			    </div>
			  </div>
			</form>
		</div>
		<script>
			var saleBioskop = [];
			$("#addAuditorium").click(function(event){
				event.preventDefault();
				if($('#inputAuditoriumName').val()==""){
			    	alert("Morate popuniti sva polja pri kreiranju sale, to su: naziv sale, broj redova i kolona sale!");
				    return;
			    }
				if($('#inputRows').val()=="" || $('#inputCols').val()==""){
					alert("Morate popuniti broj redova i kolona. Moraju biti ceo broj!");
					return;
				}
				var auditoriumName=$("#inputAuditoriumName").val();
				var audRows = $("#inputRows").val();
				var audCols = $("#inputCols").val();
				var sala = {name:auditoriumName, rows:audRows, columns:audCols};
				var index;
				saleBioskop.push(sala);
				index = saleBioskop.indexOf(sala);
				sala='<li name='+auditoriumName+'>'+auditoriumName+'  <input type=button class="btn btn-danger brisi" data-index="'+index+'" value="Ukloni salu"></li>';				
				$("#auditoriums").append(sala);
			});
			$(document).on("click", ".brisi", function(event){
				event.preventDefault();
				li_parent = $(this).closest("li");
				deleteTerm=li_parent.attr('name');
				saleBioskop.splice(saleBioskop.indexOf(deleteTerm),1);
				li_parent.remove();
			});
			$("input[type='submit']").click(function(event) {
				event.preventDefault();
				function validate() {
				    if (($('#inputName').val() == "") || ($('#inputDescription').val() == "") || ($('#address').val() == "") || ($('#inputLat').val() == "") || ($('#inputLng').val() == "")) {
				        alert("Pri kreiranju bioskopa morate popuniti sva polja, ako su polja geografske sirine i duzine prazna, znaci da adresu niste uneli isparvno!");
				        return false;
				    }
				    if(saleBioskop.length==0){
				    	alert("Morate napraviti barem jednu salu!");
				    	return false;
				    }
				    return true;
				}
				 if(!validate()) {
					return;
				} 
				var test = $("#inputLng").val();
				var formData = JSON.stringify({
					name:$("#inputName").val(),
					adress:$("#address").val(),
					myLat:$("#inputLat").val(),
					myLang:test,
					auditoriums:saleBioskop,
					description:$("#inputDescription").val(),
				});
				$.ajax({
					url: "http://localhost:8080/cinemas",
					type: 'POST',
					data: formData,
					contentType: "application/json",
					success: function(){
						console.log("Kreirao sam BIOSKOP!");
						window.location.href = "http://localhost:8080/AdminSistema/cinemasAdmin.html";
						
					}
				});
			
		   });
			$(document).ready(function(){
				  // Call Geo Complete
				  $("#address").geocomplete({details:"form#property"});
			});
		</script>
	</body>
</html>