<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.css}">
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-YyCq09kOBAfdxzfvceBtUov8tfj5Mh4&libraries=places"></script>
		<script th:src="@{/scripts/jquery.geocomplete.js}"></script>
		<meta charset="UTF-8">
		<title>Kreiranje novog oglasa</title>			
	</head>

	<body>
		<div class="nav nav-tabs bg-danger">
			<ul class="nav nav-tabs mr-auto bg-danger">			
				<li class="nav-item">
					<a class="nav-link text-white" href="adminSettings">Podesavanja</a>
				</li>				
			</ul>
			<a class="nav-link mr-0 text-white" href="login.html">Odjava</a>
		</div>
	
		<div class="container col-md-4 mt-5">
			<form id="property">
			  <div class="form-group row">
			    <label for="inputName" class="col-sm-2 col-form-label">Naziv: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputName" placeholder="Naziv">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputDescription" class="col-sm-2 col-form-label">Promotivni opis: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="inputDescription" placeholder="Promotivni opis">
			    </div>
			  </div>
			  		  
			  <div class="form-group row">
			    <label for="inputRateing" class="col-sm-2 col-form-label">Rejting: </label>
			    <div class="col-sm-10">
			      <input type="number" class="ml-2" id="inputRateing" placeholder="Rejting">
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="adress" class="col-sm-2 col-form-label">Adresa: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" id="address" placeholder="Adresa">
			    </div>
			  </div>
  
			  <div class="form-group row">
			    <label for="inputLat" class="col-sm-2 col-form-label">Geografska sirina: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" name="lat" id="inputLat" placeholder="Geografska sirina" readonly>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="inputLng" class="col-sm-2 col-form-label">Geografska visina: </label>
			    <div class="col-sm-10">
			      <input type="text" class="ml-2" name="lng" id="inputLng" placeholder="Geografska visina" >
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <div class="col-sm-10">
	    			<input type="submit" value="Napravi bioskop" class="btn btn-danger" />
			    </div>
			  </div>
			</form>
		</div>
		<script>
			$("input[type='submit']").click(function(event) {
				event.preventDefault();
				function validate() {
				    if ($('#inputName').val() == "" || $('#inputDescription').val() == "") {
				        alert("Pri kreiranju oglasa, obavezna polja su naziv, opis i cena.");
				        $('#inputName').focus();
				        return false;
				    }
				    if($('#inputPrice').val()==""){
				    	alert("Cena mora biti broj bez dodatnih znakova!");
					    $('#inputPrice').focus();
					    return false;
				    }
				    return true;
				}
				/* if(!validate()) {
					return;
				} */
				var test = $("#inputLng").val();
				var formData = JSON.stringify({
					name:$("#inputName").val(),
					adress:$("#address").val(),
					myLat:$("#inputLat").val(),
					myLang:test,
					description:$("#inputDescription").val(),
				});
				$.ajax({
					url: "http://localhost:8080/cinemas",
					type: 'POST',
					data: formData,
					contentType: "application/json",
					success: function(){
						console.log("Kreirao sam BIOSKOP!");
						
					}
				});
			
		   });
			$(document).ready(function(){
				  // Call Geo Complete
				  $("#address").geocomplete({details:"form#property"});
			});
		</script>
	</body>
</html>